<h3> Get to Know a numpy Array </h3>

You will use the dataframe <code>df</code> for the following:

In [1]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

1) plot the first three rows:

In [3]:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

2) obtain column  <code> 'a' </code>

In [4]:
df['a']

0    11
1    21
2    31
Name: a, dtype: int64

In [7]:
df.iloc[1,0]

21

In [10]:
df.ix[1,0]

C:\Users\abuzar.rizvi\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

21

In [11]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

<hr>
<small>Copyright &copy; 2018 IBM Cognitive Class. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/).</small>