<h3> Get to Know a Pandas Array </h3>

You will use the dataframe <code>df</code> for the following:

In [12]:
import pandas as pd


df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [13]:
df

   a  b
0  1  1
1  2  1
2  1  1

1) find the unique values in column <code> 'a' </code>:

In [14]:
y=df['a'].unique()
y

array([1, 2], dtype=int64)

2) return a dataframe with only the rows where column <code> a </code> is less than two

In [15]:
df[df['a']<2]

   a  b
0  1  1
2  1  1

<hr>
<small>Copyright &copy; 2018 IBM Cognitive Class. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/).</small>